
.spinner {
    position:absolute;
    z-index: 5;
    top:0;
    left:0;
    border: 3px solid rgb(44, 48, 51);
    border-radius: 50%;
    border-top: 3px solid rgb(122, 161, 178);
    border-right: 3px solid rgb(122, 161, 178);
    border-bottom: 3px solid rgb(122, 161, 178);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
