

.popup-container{
    width:280px;
    border-radius:2px;
    background-color: rgb(44, 48, 51);
    text-align: center;
    padding: 14px;
    margin:auto;
    z-index: 8000;
    margin-top:8px;
    top:70px;
    display: flex;
    flex-direction: column;
    opacity:0;
    box-shadow: 2px 2px 10px rgb(102, 102, 102);
}

.popup-triangle-up {
    width: 0;
    height: 0;
    position:absolute;
    top:-8px;
    left: 146px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid  rgb(44, 48, 51);
}

.popup-title{
    color: rgb(249, 249, 249);
    font-size: 16px;
    font-weight: normal;
    margin-top: 14px;
    margin-bottom: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

.avatar-list-container{
    list-style: none;
    padding:0;
    margin:0;
}

.avatar-container {
    position: relative;
    display:inline-block;
    margin-right:4px;
    float:left;
    border-radius: 50%;
    flex-grow:1;
}
.avatar-selected{
    height: 60px;
    width: 60px;
    display:inline-block;
    border-radius: 50%;
    border:1px solid transparent;
}
.avatar-selected:hover{
    cursor: pointer;
    border-color: grey;
}
.avatar-selected:focus{
    border-color: grey;
    outline: none;
}
.avatar{
    height: 60px;
    width: 60px;
    display:inline-block;
    border-radius: 50%;
    border:3px solid transparent;
}

.avatar:hover{
    opacity:0.8;
    cursor:pointer;
    outline: none;
    border-color: grey;
}

.avatar:focus{
    opacity:0.8;
    outline: none;
    border-color: grey;
}

.avatar:active{
    opacity:0.8;
    outline: none;
    border-color: grey;
}


.selected{
    border:3px solid rgb(122, 161, 178);

}
.selected:hover{

}
.selected:focus{
    outline:none;
}

.selected:active{
    outline: none;
}

.bounce-in{
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 350ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}
@keyframes fadeOut{
    0%{
        opacity: 1;
        transform: scale(1) translate3d(0,0,0);
    }

    100%{
        opacity: 0;
        transform: scale(0) translate3d(0,0,0);
    }
}

@keyframes bounceIn{
    0%{
        opacity: 0;
        transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
        opacity: 0.9;
        transform: scale(1.1);
    }
    80%{
        opacity: 1;
        transform: scale(0.89);
    }
    100%{
        opacity: 1;
        transform: scale(1) translate3d(0,0,0);
    }
}



.spinner {
    position:absolute;
    z-index: 5;
    top:0;
    left:0;
    border: 3px solid rgb(44, 48, 51);
    border-radius: 50%;
    border-top: 3px solid rgb(122, 161, 178);
    border-right: 3px solid rgb(122, 161, 178);
    border-bottom: 3px solid rgb(122, 161, 178);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
