
.current-avatar{
    height: 60px;
    width: 60px;
    display:inline-block;
    border-radius: 50%;
    border:1px solid transparent;
}
.current-avatar:hover{
    cursor: pointer;
    border-color: rgb(155, 160, 163);;
}
.current-avatar:focus{
    border-color: rgb(155, 160, 163);;
    outline: none;
}

.current-avatar:active{
    border-color: rgb(155, 160, 163);;
    outline: none;
}

.avatar{
    height: 60px;
    width: 60px;
    display:inline-block;
    border-radius: 50%;
    border:3px solid transparent;
}

.avatar:hover{
    opacity:0.8;
    cursor:pointer;
    outline: none;
    border-color: rgb(155, 160, 163);
}

.avatar:focus{
    opacity:0.8;
    outline: none;
    border-color: rgb(155, 160, 163);
}

.avatar:active{
    opacity:0.8;
    outline: none;
    border-color: rgb(155, 160, 163);
}


.selected{
    border:3px solid rgb(122, 161, 178);

}
.selected:hover{

}
.selected:focus{
    outline:none;
}

.selected:active{
    outline: none;
}

